.home {
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  background: #eee;
}

.home__row {
  z-index: 1;
  display: flex;
  flex: 1;
  margin: 0 5px;
  position: relative;
}

.home__image {
  width: 100%;
  z-index: -9;
  margin-bottom: -220px;
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
}
