.header {
  position: static;
  height: 60px;
  background: #131921;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 100;
}

.header__logo img {
  width: 100px;
  margin: 0px 20px;
  object-fit: cover;
  margin-top: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  border-radius: 24px;
  flex: 1;
}

.header__searchInPut {
  height: 12px;
  width: 100%;
  padding: 10px;
  border: none;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  width: 225px;
}

.header__option {
  display: flex;
  color: white;
  flex-direction: column;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_basketOtion {
  display: flex;
  align-items: center;
  color: white;
}

span.header__optionLineTwo.header_basketCout {
  display: flex;
  margin: 10px;
}

a.header_shoppingBasketIcon,
a.header_shoppingBasketIcon:hover {
  color: white;
}
